.container .item{ 
    color: yellowgreen;
    border: 2px solid black;
    line-height: 2;
    font-size: 30px;
    font-style: italic;
    text-align: center; /* 가운데 정렬 */
}
.container .item:nth-child(2){ 
    font-weight: bold;  /* 폰트의 두께 설정 */
    text-decoration: underline;
}

/* 'font-' 로 시작하는  css속성들은 화면에서 사용하는 글자들의 서체에 관한설정*/
/* 'text-' 로 시작하는 css속성들은 문자의 정렬 , 밑줄, 글자의 넘침제어 */
